.container1 {
  width: 30%;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px; 
  margin-bottom: 50px;
  padding: 20px; 
  background-color: #6699ff;
}

h4 {
  text-align: center;
}

#clear {
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -40.5px;
}